# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*.local

# Build output
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Coverage and test reports
coverage/
.nyc_output/
test_output/

# Editor folders and IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Optional npm cache
.npm/

# ESLint cache
.eslintcache

# Local databases
*.sqlite
*.sqlite3
*.db

# Misc
*.tgz
render.yaml
